/**
 * Defaults and additional resets for elements
 */

// Enable border-box for elements
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h2,
button,
p,
a,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

// Avoid link underline
a {
  text-decoration: none;
  color: $color-primary;
}

// Amazing chevron
.chevron--right::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.6em;
  height: 0.6em;
}
