.card {
  height: 22rem;
  margin: 0.5rem;
  // 3D transform
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  @include min-width($bp-small) {
    height: 23rem;
    margin: 1rem;
  }
  @include min-width($bp-medium) {
    height: 25rem;
    margin: 1.25rem;
  }
  @include min-width($bp-large) {
    height: 32rem;
  }
  // 3D transform
  &:hover {
    > .card__face {
      &--front {
        transform: rotateY(-180deg);
      }
      &--back {
        transform: rotateY(0deg);
      }
    }
  }
  &__face {
    border: 2px $color-primary solid;
    height: 100%;
    width: 100%;
    background: #fff;
    cursor: default;
    // 3D transform
    position: absolute;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    &--back {
      transform: rotateY(180deg);
      img {
        transform: rotateY(-180deg);
        opacity: 0.5;
      }
      // Call to action
      .cta {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        text-transform: uppercase;
        @include max-width($bp-small) {
          font-size: 0.75rem;
        }
        .chevron--right::before {
          border-style: solid;
          border-width: 0.15em 0.15em 0 0;
          content: '';
          display: inline-block;
          left: 0.15em;
          position: relative;
          top: 0.15em;
          transform: rotate(45deg);
          vertical-align: top;
          width: 0.6em;
          height: 0.6em;
        }
      }
    }
  }
  &__image {
    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .content {
    margin: 0.5rem;
    @include min-width($bp-large) {
      margin: 1rem;
    }
    &__title {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      @include min-width($bp-small) {
        font-size: 1.25rem;
      }
      @include min-width($bp-medium) {
        font-size: 1.5rem;
      }
      @include min-width($bp-large) {
        font-size: 1.75rem;
      }
    }
    &__description {
      // Description truncation
      &--truncated {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        white-space: normal;
        @include min-width($bp-large) {
          font-size: 1rem;
          -webkit-line-clamp: none;
        }
      }
    }
    .tag {
      @include tag;
      @include min-width($bp-small) {
        @include tag($font-size: 0.85rem);
      }
      @include min-width($bp-medium) {
        @include tag($font-size: 0.95rem);
      }
      @include min-width($bp-large) {
        @include tag($font-size: 1.35rem);
      }
    }
  }
}
